fxs-hslot.sub-system-dock--button-container {
  flex-wrap: wrap;
  width: 31.25rem;
  width: 31.2777777778rem;  /* rounded up to nearest pixel */
}
crisis-meter.ssb__element.agetimer,
fxs-ring-meter.ssb__element.agetimer,
crisis-meter.ssb__element.ageextended,
fxs-ring-meter.ssb__element.ageextended {
  margin-left: 0;
}
fxs-activatable.ssb__element:last-child {
  margin-right: 0.3333333333rem;
}
.triumph-card.w-84 {
  width: 14.2222222222rem;
}
.triumph-card .w-28 {
  width: 3.5555555556rem;
}
.triumph-card .w-72 {
  width: 11.5555555556rem;
}
/* vim: set sw=2 et tw=72 :*/
